@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
    4. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-text: #260803;
    --color-secondary: #FDEFEC;
    --color-big-screen: #F26D40;
    --color-medium-screen: #F69051;
    --color-small-screen: #F9C48B;
}

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    color: var(--color-text);
}

img {
    width: 100%;
    display: block;
}

/*////////////////////////
    2. Typography
////////////////////////*/

h2 {
    font-size: 2rem;      /* schaalbaar door rem */
    font-weight: 700;     /* stevige kopjes */
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

em {
    font-style: italic;
}

/*////////////////////////
    3. Areas
////////////////////////*/

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section {
    border: none;
    background-color: var(--color-secondary);
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1rem;
}

/*////////////////////////
    4. Media Queries
////////////////////////*/

html {
    /* voor mobiel */
    font-size: 16px;
    background-color: var(--color-small-screen);
}

@media screen and (min-width: 768px) {
    /* voor tablets */
    html {
        font-size: 18px;
        background-color: var(--color-medium-screen);
    }
}

@media screen and (min-width: 992px) {
    /* voor desktops en groter */
    html {
        font-size: 20px;
        background-color: var(--color-big-screen);
    }
}